<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haidaoservice.yhs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <!-- /////////////////////////////////////用户模块/////////////////////////////////////// -->
        <!-- 登录页 -->
        <activity
            android:name=".ui.user.view.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 注册页 -->
        <activity
            android:name=".ui.user.view.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 验证码页 -->
        <activity
            android:name=".ui.user.view.code.CodeActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码 -->
        <activity
            android:name=".ui.user.view.forget.ForgetActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码 -->
        <activity
            android:name=".ui.user.view.modify.pass.ModifyPassActivity"
            android:screenOrientation="portrait" />
        <!-- 用户信息 -->
        <activity
            android:name=".ui.user.view.info.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.sign.SignActivity" />
        <activity android:name=".ui.location.LocationActivity" />

        <!-- 认证中心 -->
        <activity
            android:name=".ui.certification.CertificationCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.skill.CertificateSkillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.skill.UnlockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.car.CertificationCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.enterprise.CertificationEnterpriseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.enterprise.AttachSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.enterprise.AttachEnterpriseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.car.ChooseCarBrandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.car.search.CarModelSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certification.car.search.CarModelResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.my.MyWalletActivity" />
        <activity android:name=".ui.my.recharge.MyWalletRechargeActivity" />
        <activity android:name=".ui.my.recharge.RechargeOrderActivity" />
        <activity android:name=".ui.my.recharge.RechargeSuccessActivity" />
        <activity android:name=".ui.my.code.IncomeCodeActivity" />
        <activity android:name=".ui.my.code.SetCodeMoneyActivity" />
        <activity android:name=".ui.my.transaction.TransactionDetailActivity" />
        <activity android:name=".ui.my.bank.MyBankActivity" />
        <activity android:name=".ui.my.bank.MyBankDetailActivity" />
        <activity android:name=".ui.my.bank.MyBankAddActivity"></activity>
    </application>

</manifest>